name = "Huting : Cinnabar Mansion 3f" - Vulpix h.a, magmar, charmander and shiny. 
author = "Mistery"
description = [Sync and Parasect 140hp or more (more or less level 70), 
the Script attacks the unselected pokemons for the hunt, and takes money for you, 
captures the rare Pokémon with Spore, leaving them sleeping.]]

function onStart()
    shinyCounter = 0
    wildCounter = 0
    startMoney = getMoney()
    charmanderCounter = 0
    magmarCounter = 0
    vulpixCounter = 0
    log("You have " .. getMoney() .. " Pokedollars.")
end

function onPause()
    log("***********************************PAUSED - SESSION STATS***********************************")
    log("You have earned ".. tostring(getMoney() - startMoney) .." PokeDollars!")
    log("Shinies Caught: " .. shinyCounter)
    log("Pokemon raped: " .. wildCounter)
    log("Charmander ENCONTRADO: " .. charmanderCounter)
    log("Magmar ENCONTRADO: " .. magmarCounter)
    log("Vulpix ENCONTRADO: " .. vulpixCounter)
    log("*********************************************************************************************")
end

function onResume()
    log("SESSION RESUMED")
end

function onPathAction()
    vulpix_found = 0
    if isPokemonUsable(1) and getPokemonHealth(2)>130  and getPokemonHealth(1)>130 then
        if getMapName() == "Pokecenter Cinnabar" then
            moveToMap("Cinnabar Island")
        elseif getMapName() == "Cinnabar Island" then
 if isMounted() then
               moveToMap("Cinnabar mansion 1")
           else
               useItem("Bicycle")
               log("Andando de Bike")
           end
        elseif getMapName() == "Cinnabar mansion 1" then
            moveToMap("Cinnabar mansion 2")
        elseif getMapName() == "Cinnabar mansion 2" then
            moveToMap("Cinnabar mansion 3")
        elseif getMapName() == "Cinnabar mansion 3" then
            moveToRectangle(8,10,9,11)
        end
    else
        if getMapName() == "Cinnabar mansion 3" then
            moveToMap("Cinnabar mansion 2")
        elseif getMapName() == "Cinnabar mansion 2" then
            moveToMap("Cinnabar mansion 1")
        elseif getMapName() == "Cinnabar mansion 1" then
            moveToMap("Cinnabar Island")
        elseif getMapName() == "Cinnabar Island" then
               if isMounted() then
               moveToMap("Pokecenter Cinnabar")
           else
               useItem("Bicycle")
               log("Andando de Bike")
           end
        elseif getMapName() == "Pokecenter Cinnabar" then
            usePokecenter()
        end
    end
end

function onBattleMessage(message)
    if stringContains(message, "The sunlight got bright!") then
        vulpix_found = 1
    end
end

function onBattleMessage(wild)
    if stringContains(wild, "A Wild SHINY ") then
        shinyCounter = shinyCounter + 1
    elseif stringContains(wild, "A Wild ") then
        wildCounter = wildCounter + 1
    elseif wild == "A Wild [FF9900]Charmander[-] Attacks!" then
            charmanderCounter = charmanderCounter + 1
            wildCounter = wildCounter - 1
    elseif wild == "A Wild [FF9900]Magmar[-] Attacks!" then
            magmarCounter = magmarCounter + 1
            wildCounter = wildCounter - 1
    elseif wild == "A Wild [FF9900]Vulpix[-] Attacks!" then
            vulpixCounter = vulpixCounter + 1
            wildCounter = wildCounter - 1
    end
end	

function onBattleAction()
   if isWildBattle() and ( isOpponentShiny() or getOpponentName() == "Charmander" or getOpponentName() == "Magmar") then
                  if getOpponentStatus() ~= "SLEEP" then
                    return useMove("Spore")  or useItem("Pokeball") or sendUsablePokemon() or run()
        else     
                   return useItem("Ultra Ball") or useItem("Great Ball") or useItem("Pokeball") or sendUsablePokemon() or run()
                

        
        end

    elseif (getOpponentName() == "Vulpix" ) then
        if vulpix_found == 1 then        
                  if getOpponentStatus() ~= "SLEEP" then
                    return useMove("Spore")  or useItem("Pokeball") or sendUsablePokemon() or run()

            elseif (getOpponentStatus() == "SLEEP") then
                return useItem("Ultra Ball") or useItem("great Ball") or useItem("pokeball")
           end
        else
           return attack() or run() or sendUsablePokemon()
        end
    else
         return run()  or attack()  or sendUsablePokemon()
    end
end
